
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "Blank" %></title>
        <meta name="description" content="<%= current_page.data.description || "Blank" %>">
        <meta name="viewport" content="width=device-width">

        <%= stylesheet_link_tag 'global.css' %>
    </head>
    <body >

        <%= yield %>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js"><\/script>')</script>
        <%= javascript_include_tag 'vendor/parsley.js' %>
        <%= javascript_include_tag 'plugins.js' %>
    </body>
</html>
